spring:
  application:
    name: simpleapp-api

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:simpleapp_db}
    username: ${DB_USERNAME:simpleapp}
    password: ${DB_PASSWORD:simpleapppass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

app:
  version: ${APP_VERSION:1.0.0}
  environment: ${APP_ENVIRONMENT:local}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

server:
  port: 8081

logging:
  level:
    com.atychkivskyy.simpleapp: INFO
    org.springframework: INFO
    org.flywaydb: INFO
